*{
    box-sizing: border-box;
}
body{
    background-color: #ADEFD1FF;
}
.weather-section{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.container{
    background-color: #00203fff; 
    width: 30vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 30px;
    height: auto;
}
.weather-icon{
    padding: 10px;
}

.fa-cs{
    font-size: 100px;
    color: #ADEFD1FF;
}
.weather-details{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #ADEFD1FF;
}

.temperature-details{
    display: flex;
    justify-content: center;
    align-items: center;
}
.temp{
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #ADEFD1FF;
    margin: 10px;
    border-radius: 20px;
    color: #00203fff;
    margin-bottom: 30px;
}
.temp-title{
    font-size: 15px;
    font-weight: 600;
}
.fa-temp{
    font-size: 30px;
}
.avg-temp{
    padding: 20px;
}
.icon{
    width:200px;
}
.temp-value{
    font-size: 15px;
}

.description,
.description{
    text-transform: capitalize;
}