*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-color: #00203fff;
}
.main-container{
    display: flex;
    justify-content: center;
    align-items: center;
    
} 
.left-container{
    width:70%;
    background: url(../../../public/images/background.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto;
    height: 100vh;
    position: relative;
}
.opacati-controller{
    position: absolute;
    background-color:rgb(0, 0, 0);
    opacity: 0.7;
    /* z-index: ; */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.nav-section{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3em 3em;

}
.nav-title{
    font-size: 1.3rem;
    color: #ADEFD1FF;
    z-index: 1;
}
.current-location{
    background-color: #00203fff;
    padding: 0.6em 2em;
    border-radius: 12px;
    z-index: 1;
}
.location-title{
    color: #ADEFD1FF;
    display: flex;
    justify-content:center;
    align-items: center;
}
.location-text{
    color: #ADEFD1FF;
    font-size: 1rem;
    margin-left: .7rem;
    
    
}
.data-from-api{
    color: #ADEFD1FF;
    font-size: 1rem;
    text-align: center;
}
.center-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10rem;
    flex-direction: column;
}
.center-container-title{
    font-size: 2rem;
    font-weight: 700;
    color: #ADEFD1FF;
    position: relative;
}
.center-container-title::after{
    display: block;
    content: '';
    margin-top: 0.5rem;
    width: 20%;
    height: 8px;
    background-color: #ADEFD1FF;
    position: absolute;
    border-radius: 12px;
    left: 38%;

}

.right-container{
    width: 30%;
    background-color: #00203fff;
    height: 100vh;
}